.benefit-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.content-header {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.checkbox-group {
  display: flex;
  gap: 15px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 0;
}

.card {
  min-height: 200px !important;
}
